#follow-list {
    width: 540px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

#follow-list-count {
    margin: auto;
    width: 540px;
    height: 40px;
    font-size: 18px;
    color: white;
}

.followers-following-title {
    padding-left: 10px;
}
