
.follow-card {
  color: rgb(0, 0, 0);
  background-color: white;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.follow-card:hover {
  background-color: rgb(215, 215, 215);
}

.follow-buttons-holder button {
  background-color: rgba(255, 255, 255, 0);
  color: #4fc4ff;
  font-weight: bold;
}
