.notescard_overall_container {
  width: 100%;
  max-width: 540px;
  height: 500px;
  background-color:#222222;
  border-top: 1px solid gray;
}

.notescard_navigation_container {
  display: flex;
  flex-direction: row;
  min-height: 45px;
  height: fit-content;
  margin: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items:center;
  border-bottom: 1px solid gray;
}

.notescard_navigation_container button{
  font-size: 18px;
  width: max-content;
  height: 45px;
  min-width: 60px;
  text-decoration: none !important;
  color: unset;
  border: none;
  background: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* Fancy coloring for the selectors */
.notescard_nav_bubble_selected {
  color: #00b8ff;
  border-bottom: 3px solid  #00b8ff;
}

.notescard_nav_heart_selected {
  color:#ff4930;
  border-bottom: 3px solid #ff4930;
}

/* Overall Input container */
.notescard_commentinput_main_container {
  display: flex;
  flex-direction: row;
  width: 540px;
  min-height: 45px;
  height: fit-content;
  margin: 15px 20px 0px 20px;
  align-items: center;
}

.notescard_commentinput_user_icon {
  margin: 0px 10px 0px 0px;
  width: 100%;
  max-width: 32px;
  height: 100%;
  max-height: 32px;
}

/* Input/Textarea Container */
.notescard_commentinput_container {
  box-sizing:content-box;
  line-height: inherit;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  margin-left: 10px;
  padding: 0 10px;
  width: 430px;
  max-width: 430px;
  font:inherit;
  font-size: 100%;
  margin: 0;
  justify-content: space-between;
  max-height: 150px;
  vertical-align: baseline;
  color: whitesmoke;
}

.notescard_commentinput_div {
  /* border: 1px solid green; */
  font-weight: 400;
  box-sizing: border-box;
  line-height: inherit;
  height: auto;
  max-height: 150px;
  padding: 8px 0 10px;
  /* border: none; */
  width: 100%;
  margin: none;
  vertical-align: baseline;

}

.notescard_commentinput_bar {
  /* border: 1px solid red; */
  height: auto;
  background: none;
  display: flex;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  white-space: pre-line;
  width: 100%;
  word-break: break-word;
  color: whitesmoke;
  border: none;
  text-align:left;

  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  resize: none;

}

.notescard_commentinput_input_div textarea{
  position: sticky;
  /* outline:1px; */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  column-count: initial !important;
  height: auto;
  max-height: 150px;
}

.notescard_commentinput_container textarea#story {
  /* outline:0px none transparent; */
  background: none;
}

.notescard_commentinput_container textarea:focus, input:focus{
    /* outline: 0; */
    border: none;
}

.notescard_commentinput_container *:focus {
    /* outline: 0; */
    border: none;
}

.notescard_commentinput_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid blue; */
}


.notescard_commentinput_bar::selection{
  text-decoration: unset;
}

.notescard_commentinput_submit_button{
  /* border: 1px solid purple; */
  cursor:default;
  text-decoration: none !important;
  padding: 0;
  border: none;
  background: none;
  color: unset;
  margin: 0;
}

.notescard_commentinput_submit_button span{
  cursor:default;
}

.notescard_commentinput_submit_button_valid{
  cursor:default;
  text-decoration: none !important;
  padding: 0;
  border: none;
  background: none;
  color: #00b8ff;
  /* border-bottom: 3px solid  #00b8ff; */
  margin: 0;

}


.notescard_comment_like_container {
  box-sizing: border-box;
  overflow: auto;
  height:fit-content;
  max-height: 78%;
  /* height: auto; */
  padding: 15px 20px;
}

.notescard_comment_main_container{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
}

.notescard_comment_user_icon {
  margin-right: 10px;
  max-width: 32px;
  height: auto;
  width: 32px;
}
.notescard_comment_user_image {
  width: 32px;
  border-radius: 5px;
  object-fit: cover;
}
.notescard_like_user_image {
  width: 32px;
  border-radius: 5px;
  object-fit: cover;
}
.notescard_commentinput_user_image {
  width: 32px;
  border-radius: 5px;
  object-fit: cover;

}

.notescard_comment_content_container{
  display: flex;
  flex-direction: column;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  width: fit-content;
  margin-right: 15px;
  padding: 8px 12px;
  overflow-x: hidden;


}

.notescard_comment_username {
  margin-bottom: 2px;
  z-index: 1;
}

.notescard_comment_content {
  margin-bottom: 12px;

}

.notescard_comment_options_container {
  margin-left: auto;
  display: inline-block;
}
.popup_options_menu {
  position: absolute;
  inset: 0px 0px auto auto;
  transform: translate(-249px, 2829px);
  width: 150px;
  height: auto;
}

.notescard_comment_options_menu {
  justify-self: right;

}

.notescard_likes_main_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;

}

.notescard_likes_user_icon {
  margin-right: 10px;
  max-width: 32px;
  height: auto;
  width: 32px;

}

.notescard_likes_content_container{
  display: flex;
  flex-direction: column;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  width: fit-content;
  margin-right: 15px;
  padding: 8px 12px;
  overflow-x: hidden;

}

.notescard_likes_username {
  margin-bottom: 2px;
  z-index: 1;

}

.notescard_likes_followbutton_container {

  margin-left: auto;
  display: inline-block;

}

.notescard_likes_followbutton_container button{
  font-size: 18px;
  width: max-content;
  height: 45px;
  min-width: 60px;
  /* text-decoration: none;
  color: unset; */
  border: none;
  background: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}


/* Fancy coloring for the selectors */
.notescard_likes_followbutton_follow {
  color: #00b8ff;
  border-bottom: 3px solid  #00b8ff;
}

.notescard_likes_followbutton_unfollow {
  color:#ff4930;
  border-bottom: 3px solid #ff4930;
}

.notescard_likes_followbutton {

}
