#header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1024px;
    width: 100%;
}

#header-container {
    border-bottom: 1px solid #212121;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: black;
}

.fa-shuttle-space {
    font-size: 25px;
}

#header img {
    height: 55px;
}
