.postCard-outer-container {
    width: 100%;
    /* border: 1px solid purple; */
}

.postCard-author-username-holder {
    font-size: 14px;
    font-weight: bold;
}

.postcard-follow-button {
    background-color: #222222;
    border: none;
    color: #00b7ff;
    font-weight: bold;
    padding-left: 10px;
}

.postCard-content-holder {
    width: 540px;
    border-radius: 3px;
    background-color: #222222;
    /* border: 1px solid green; */
}

.postCard-content-holder>* {
    color: white;
}

.post-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.top-padding {
    padding-top: 20px;
}

.postcard-text-holder {
    white-space: pre-wrap;
}

.postcard-photo-holder>img {
    width: 100%;
}

.postCard-userImage>img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    position: relative;
    left: -84px;
    top: 20px;
    border-radius: 3px;
    z-index: -999999999999;
}

.postCard-userImage {
    height: 20px;
}

.postcard-edit-delete-holder {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.delete-post-button,
.postcard-comment-button {
    margin-right: 8px;
    cursor: pointer;
}

.postcard-bottom-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.interface-text {
    font-size: 22px;
}

#edit-post-button {
    color: #b2b2b2;
}

.edit-delete-post {
    color: #b2b2b2;
    border: none;
    background-color: #222222;
}

.post-interface-border {
    border: 1px solid #303030;
    margin-right: 20px;
    margin-left: 20px;
}

.postcard-like {
    color: #b2b2b2;
    background-color: #222222;
    border: none;
}

.liked {
    color: #ff492f
}

.postcard-unlike {
    color: #ff492f;
    background-color: #222222;
    border: none;
}

.postcard-comment-button {
    color: #b2b2b2;
    background-color: #222222;
    border: none;
    cursor: pointer;
}

.postcard-notes-holder {
    width: fit-content;
}

.notes-button {
    color: #b2b2b2;
    background-color: #222222;
    border: none;
    font-size: 18px;
}

.close-notes-button {
    color: #b2b2b2;
    background-color: #434343;
    border: none;
    border-radius: 2em;
    font-size: 18px;
    /* padding: 3px; */
    padding-top: 0;
    width: 127px;
    height: 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
